#wrapper {
  display: flex;
  height: 950px;
}
.column {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
}
.item {
  background: #66d8a4;
  margin: 1em;
  padding: 1em;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.column:first-child > :last-child,
.column:last-child > :first-child {
  flex-grow: 2;
}
@media (max-width: 800px) {
  #wrapper {
    flex-direction: column;
  }
  .column {
    display: contents;
  }
}
